@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  pre {
    scrollbar-color: #505557 #3e4345;
    scrollbar-width: thin;
  }
  html {
    font-size: 14px;
  }
  @media screen and (min-width: 600px) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1025px) {
    html {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 600px) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1025px) {
    html {
      font-size: 18px;
    }
  }
  html::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }
  html::-webkit-scrollbar-track,
  pre::-webkit-scrollbar-track {
    background: #3e4345;
  }
  html::-webkit-scrollbar-thumb,
  pre::-webkit-scrollbar-thumb {
    background-color: #505557;
    border-radius: 0.5rem;
  }
}

@layer components {
  .bg-home {
    background: url("../src/assets/images/topography.svg"),
      linear-gradient(
        300deg,
        rgba(100, 179, 104, 0.2) 25%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #0f1112;
    background-position: bottom right, center;
    @apply bg-homePage;
  }
  .bg-others {
    background: linear-gradient(
        300deg,
        rgba(100, 179, 104, 0.2) 25%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #0f1112;
    @apply bg-center bg-otherPage;
  }
}
